{% load static %}
<link rel="stylesheet" href="{% static '1.css'%}">
<!DOCTYPE html>
<html>
<head>
	<title>home</title>
</head>
<body>
<div id="formbackground" style="position:absolute; width:100%; height:100%; z-index:-1">  
<img src="http://p1.qqhot.com/G1/M00/8A/4E/rBACE1OP6J2j3xIiAAH98kowP-I031.jpg" height="100%" width="100%"/>  
</div>
	
	<form method="post">
			<div align="center"><h1>home</h1></div>
	</form>
			<tr>               
			<form method="get" action="searchbook">                 
				<div align="center"><td><input name="tname" type="text" ></td></div>               
			<div align="center"><input type="submit" value="searchbook"></div>                                  
			</tr> 
			</form>
</body>

</html>